.covid-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    float: right;
    margin-right: 20px;
  }
  
  .covid-heading {
    font-size: 24px;
    font-weight: bold;
    color: rgb(170, 33, 33);
    margin-bottom: 10px;
  }
  
  .city-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .city-item {
    margin-bottom: 10px;
  }
  
  .city-name {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
  }
  
  .city-cases {
    font-size: 14px;
    color: black;
  }